appdirs==1.4.4
APScheduler==3.6.3
autopep8==1.6.0
backports.zoneinfo==0.2.1
beautifulsoup4==4.9.3
bs4==0.0.1
cachetools==4.2.2
certifi==2020.12.5
chardet==4.0.0
charset-normalizer==2.0.12
click==8.0.4
colorama==0.4.4
cssselect==1.1.0
fake-useragent==0.1.11
Flask==2.0.3
idna==2.10
igramscraper==0.3.5
instagram-private-api @ git+https://git@github.com/ping/instagram_private_api.git@1d70e99bc11591161b0cd71cff3f0c08cd04b34f
itsdangerous==2.1.0
Jinja2==3.0.3
lxml==4.6.2
MarkupSafe==2.1.0
parse==1.18.0
pycodestyle==2.8.0
pyee==7.0.4
pyppeteer==0.2.3
pyquery==1.4.3
python-dotenv==0.19.2
python-slugify==3.0.2
python-telegram-bot==13.11
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
requests==2.25.1
requests-html==0.10.0
six==1.15.0
soupsieve==2.1
text-unidecode==1.2
toml==0.10.2
tornado==6.1
tqdm==4.55.1
tzdata==2021.5
tzlocal==4.1
urllib3==1.26.2
w3lib==1.22.0
waitress==2.0.0
websockets==8.1
Werkzeug==2.0.3
